.skills-storer-container {
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 25px;
  max-height: 70px;
  .skill-btn {
    border: 1px solid var(--black);
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 4px;
    height: calc(25px - 5px);
    cursor: pointer;
    img {
      width: 15px;
    }
  }
}
