:root{
    --white:#ffffff;

    --temp-background:rgba(0, 0, 0, 0.334);
    --black:black;

    //grey
    --grey-80:#595959;
    --grey-50:#cacaca;
    --grey-100:#141414;
    --grey-90:#373737;
    --grey-80:#595959;
    --grey-70:#767676;
    --grey-60:#b5b5b5;
    --grey-65:#64748b;
    --grey-50:#cacaca;
    --grey-40:#e0e0e0;
    --grey-35:#e7eaee;
    --grey-30:#ebebeb;
    --grey-20:#f5f5f5;
    --grey-15:#f8f8f8;
    --grey-10:#f9f9f9;
    --grey-500:#667085;

    //error color

    --feedback-error-80:#660014;
    --feedback-error-50:#f50031;
    --feedback-success-80:#135610;
    --feedback-success-50:#25ab21;
}