.about-certification-container{
    .stepper-part{
        display: flex;
      .button-container{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        cursor: pointer;

        .download-certificate{
         width: max-content;
         padding: 2px 15px;
         background-color: var(--black);
         color: var(--white);
         border-radius: 50px;

        }
      }
    }
    .switch-screen{
        width: 100%;
        height: calc(100% - 97px);
    }
}