.contact-container {
  padding: 0px 128px;
  .top-contact {
    padding: 24px 0px 24px 0px;
  }
  .form-temp {
    padding: 24px 0px 24px 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    padding: 0px 24px;
  }
}
