.outer-container {
  //   min-width: 300px;
  //   max-width: 800px;
  //   min-height: 100px;
  //   max-height: 400px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50px;

  .inner-div-container {
    display: flex;
    width: 100%;
    transition: transform 0.8s ease-in-out;

    .inner-container {
      flex: 0 0 100%; // Each slide takes full width of outer-container
      max-width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .small-pixels-image {
    // z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    // max-width: 300px;
    transform: translateX(50%);
    overflow: hidden;

    .small-pixels-div-1 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      transition: transform 0.8s ease-in-out;

      .small-pixels-div {
        width: 150px;
        // Each slide takes full width of outer-container

        &.active {
          img {
            border: 3px solid var(--white);
            border-radius: 20px;
            width: 100%;
            height: 100%;
          }
        }

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
    }
  }

  button {
    all: unset;
  }

  .left-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    padding: 10px;
    z-index: 1;
    // background-color: var(--grey-20);
    opacity: 30%;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 100%;
      width: 60px;
      height: 60px;
      transition: width height 0.4s ease-in;
    }
  }

  .right-btn {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    padding: 10px;
    // background-color: var(--grey-20);
    opacity: 30%;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;

    &:hover {
      opacity: 100%;
      width: 60px;
      height: 60px;
      transition: width height 0.4s ease-in;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .outer-container {
    button {
      display: none;
    }
    .small-pixels-image {
      transform: translateX(55%);
      .small-pixels-div-1 {
        gap: 8px;

        .small-pixels-div {
          min-width: 80px;
          max-width: min-content;
          img {
            width: 100%;
            height: 100%;
          }
          // Each slide takes full width of outer-container
        }
      }
    }
  }
}
